extends layout

block content
  h1 Lab with Redis for Sessions and Mongodb for users persistence
  div
    ul
      li
        a(href='/login') Login
      li
        a(href='/register') Register user